{% extends "base.html" %}

{% block content %}
<h1>О проекте</h1>
<h4>BookExchanger поможет Вам поделиться книгами,<br>
    которые Вы не читаете и найти те,<br>
    что нужны Вам</h4>
{% if current_user.is_authenticated %}
<a class="btn btn-primary" href="/books" role="button">Мои книги</a>
<a class="btn btn-primary" href="/add" role="button">Добавить книгу</a>
<a class="btn btn-primary" href="/find" role="button">Найти книгу</a>
{% endif %}
{% endblock %}